<div class="basic-grey">
  <center>
  <%= form_for @menu, :html => {:multipart => true} do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :menu %>
      <%= f.text_area :menu, size: "60x12" %>
    </div>
    <center><%= f.submit @menu.new_record? ? "Submit" : "Update", class: 'btn btn-success btn-lg' %></center>
  <% end %>
  </center>
</div>