<div class="basic-grey">
  <center>
  <%= form_for @user, :html => {:multipart => true} do |f| %>
      <div class='control-group'>
        <h3><span><%= f.label :name %></span></h3>
        <%= f.text_field :name, class: "form-register" %>
      </div>
      <div class='control-group'>
        <h3><span><%= f.label :email %></span></h3>
        <%= f.text_field :email, class: "form-register" %>
      </div>
    <center><%= f.submit @user.new_record? ? "Sign up" : "Update", class: 'btn btn-success btn-lg' %></center>
    <% end %>
    </center>
</div>