<!DOCTYPE html>
<html>
  <head>
    <title>Raw 'n Roll</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

  </head>

  <body>

    <div id="sticky">
      <div class="nav">
        <div class="container">
          <div class="row">
            <ul class="pull-left">
              <li><%= link_to "Home", root_path %>
              <li><%= link_to "Menu", menus_path(@menu) %>
            </ul>
            <ul class="pull-right">
              <% if logged_in? %>
                <%= link_to "Log Out", logout_path %>
              <% else %>
                <%= link_to "Sign in", login_path, class: 'btn btn-small' %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <%= yield %>
  </body>

</html>
