<!DOCTYPE html>
<html>
  <head>
    <title>Raw 'n Roll</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

  </head>

  <body>
    <div id="sticky">
      <div class="nav">
        <div class="container">
          <div class="row">
            <ul class="pull-left">
              <li>
              <%= link_to "OnTheRoll", root_path, :class => 'brand' %>
              </li>
            </ul>
            <ul class="pull-left">

              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                  Menu
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "Food", menus_path(@menu) %></li>
                  <li><%= link_to "Newletters", menus_path(@menu) %></li>
                  <% if logged_in? %>
                  <%= link_to "Sign Out", logout_path %>
                  <% else %>
                  <%= link_to "Sign in", login_path  %>
                  <% end %>
                </ul>

              </div>

            </ul>
          </div>
        </div>
      </div>
    </div>
      <%= yield %>
  </body>

</html>
